extend layout
block content
	h1 Welcome!
	p Jade has very weird syntax and I am not sure I like it yet.
	p I also don't understand why there is a dot after the p tag.
block sidebar
	.block
		h1 Right Sidebar
		p Is this Jade framework still popular, it seems weird.
		br.  
		.readmore
			a(href="http://www.joindota.net") Time for DOTA

